---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<div class="email-submission">
  <h2>Want Many Fox Given directly in your inbox? Sign up here.</h2>
  <form class="email-unit"
  action="https://formspree.io/xledbaly"
  method="POST">
    <input id="email-input" type="text" placeholder="Email address" name="_replyto">
    <button class="email-send-button" type="submit">Subscribe</button>
  </form>
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
